html {
  background-color: lavenderblush;
}

canvas {
  background-color: white;
}

#outer-flexbox {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  font-family: "Comic Sans MS";
}

#left-button-flexbox {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0.75rem;
}

#canvas-flexbox {
  position: relative;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

#right-button-flexbox {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  text-align: left;
  padding: 0.75rem;
}

#sketchpad {
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 5px black;
}

#new-sticker {
  font-size: small;
}

.button {
  border-color: black;
  border-width: 2px;
  border-radius: 5px;
  border-style: solid;
}

.small-button {
  font-family: "Comic Sans MS";
  font-size: large;
  height: 48px;
  width: 64px;
}

.large-button {
  font-family: "Comic Sans MS";
  font-size: large;
  height: 64px;
  width: 64px;
}

.marker-button {
  background-color: lightskyblue;
}

.sticker-button {
  background-color: lightpink;
  font-size: larger;
}

.edit-button {
  background-color: lightgreen;
}

.export-button {
  background-color: plum;
  font-size: medium;
}

.outline {
  text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}
