#flexbox {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}

#sketchpad {
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 5px black;
}

#clear_button {
  top: 100px;
}
